.station {
  border: 1px black solid;
  padding: 9px;
  margin: 20px;
}
.station a {
  text-decoration: none;
}
.station img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.station span {
  display: block;
  text-align: center;
}
.button {
  background: white;
  border: 0;
  height: 60px;
  outline: none;
  padding: 0;
  width: 60px;
}
#controls {
  background: #ddd;
  border-top: 2px solid #aaa;
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;
}
#controls p {
  display: inline-block;
  font-weight: 700;
  margin: -0.5em;
  padding: 0 1em;
  position: absolute;
  top: 50%;
}
#list {
  bottom: 62px;
  position: fixed;
  top: 0;
  width: 100%;
}
#list > div {
  height: 100%;
  overflow: auto;
}

@media only screen and (min-width: 700px) {

#stationList {
  display: block;
  margin: 0px auto;
  width: 680px;
}
.station {
  float: left;
  margin: 20px 10px 0 10px;
  width: 300px;
}
.endstation {
  clear: both;
  display: block;
  height: 20px;
}

}

@media only screen and (min-width: 1050px) {

#stationList {
  width: 1020px;
}

}
